# Data Formatting (strings)

This is a process where we make sure we have the right data type.

It is important to realize that while you do formatting you may need some messiness in the values may appear that again again require a cleaning of the column.

# String case

In [1]:
from IPython.display import IFrame  
wikiLink2="https://en.wikipedia.org/wiki/List_of_active_rebel_groups" 
IFrame(wikiLink2, width=900, height=500)

In [2]:
import pandas as pd

rebels = pd.read_html(wikiLink2,flavor='bs4',
                        attrs = {'class': 'wikitable sortable'})
len(rebels)

1

This is our table:

In [3]:
theRebels=rebels[0].copy()
theRebels

,Within state,Rebel group,Subgroups / Affiliates,Conflict,Year Established,Leader,References
0,Multinational: Democratic Republic of the Cong...,Allied Democratic Forces (ADF),None,Allied Democratic Forces insurgency Kivu confl...,1996,Musa Baluku,[1]
1,Multinational: Algeria Bangladesh Burkina Faso...,Al-Qaeda,Abdullah Azzam Brigades Aden-Abyan Islamic Arm...,Afghanistan conflict Al-Qaeda insurgency in Ye...,1988,Ayman al-Zawahiri,[2][3][4]
2,Multinational: Afghanistan Algeria Bangladesh ...,Islamic State of Iraq and the Levant,Abu Sayyaf (ASG) Al-Khansaa Brigade Algeria Pr...,Islamic State–Taliban conflict Yemeni Civil Wa...,1999,Abu Ibrahim al-Hashimi al-Qurashi,[5][6][7][8][9]
3,Multinational: Afghanistan Iran Pakistan Syria...,Jama'at al-Jihad al-Islami,None,Afghanistan conflict War in North-West Pakista...,2002,NaN,NaN
4,Multinational: Indonesia Malaysia Philippines ...,Jemaah Islamiyah,None,NaN,1993,Abu Bakar Baasyir,NaN
...,...,...,...,...,...,...,...
180,United Kingdom,Red Hand Defenders,None,Dissident Irish republican campaign,1998,NaN,NaN
181,United Kingdom,Real Irish Republican Army (RIRA),None,Dissident Irish republican campaign,1997,Army Council,NaN
182,United Kingdom,Real Ulster Freedom Fighters,None,Dissident Irish republican campaign,2007,NaN,NaN
183,Yemen,Houthi movement,Supreme Political Council,Yemeni Civil War (2014–present) Yemeni Crisis ...,1994,Abdul-Malik Badreddin al-Houthi,NaN
184,Yemen,Southern Movement,Southern Transitional Council,Yemeni Civil War (2014–present) Yemeni Crisis ...,2007,Aidarus al-Zoubaidi,NaN

In [4]:
# check names in columns

theRebels.columns

Index(['Within state', 'Rebel group', 'Subgroups / Affiliates', 'Conflict',
       'Year Established', 'Leader', 'References'],
      dtype='object')

In [5]:
# using rename
newNames={theRebels.columns[0]:'State',
          theRebels.columns[2]:'Affiliates'}

theRebels.rename(columns=newNames,inplace=True)
theRebels.head(3)

,State,Rebel group,Affiliates,Conflict,Year Established,Leader,References
0,Multinational: Democratic Republic of the Cong...,Allied Democratic Forces (ADF),None,Allied Democratic Forces insurgency Kivu confl...,1996,Musa Baluku,[1]
1,Multinational: Algeria Bangladesh Burkina Faso...,Al-Qaeda,Abdullah Azzam Brigades Aden-Abyan Islamic Arm...,Afghanistan conflict Al-Qaeda insurgency in Ye...,1988,Ayman al-Zawahiri,[2][3][4]
2,Multinational: Afghanistan Algeria Bangladesh ...,Islamic State of Iraq and the Levant,Abu Sayyaf (ASG) Al-Khansaa Brigade Algeria Pr...,Islamic State–Taliban conflict Yemeni Civil Wa...,1999,Abu Ibrahim al-Hashimi al-Qurashi,[5][6][7][8][9]

In [6]:
# simple names
theRebels.columns

Index(['State', 'Rebel group', 'Affiliates', 'Conflict', 'Year Established',
       'Leader', 'References'],
      dtype='object')

In [7]:
simplerNames=theRebels.columns.str.replace(r'\s',"",regex=True)
theRebels.columns=simplerNames
theRebels.head(3)

,State,Rebelgroup,Affiliates,Conflict,YearEstablished,Leader,References
0,Multinational: Democratic Republic of the Cong...,Allied Democratic Forces (ADF),None,Allied Democratic Forces insurgency Kivu confl...,1996,Musa Baluku,[1]
1,Multinational: Algeria Bangladesh Burkina Faso...,Al-Qaeda,Abdullah Azzam Brigades Aden-Abyan Islamic Arm...,Afghanistan conflict Al-Qaeda insurgency in Ye...,1988,Ayman al-Zawahiri,[2][3][4]
2,Multinational: Afghanistan Algeria Bangladesh ...,Islamic State of Iraq and the Levant,Abu Sayyaf (ASG) Al-Khansaa Brigade Algeria Pr...,Islamic State–Taliban conflict Yemeni Civil Wa...,1999,Abu Ibrahim al-Hashimi al-Qurashi,[5][6][7][8][9]

Let's drop *References*:

In [8]:
theRebels.drop(columns=['References'],inplace=True)

Let's check the first column. This is nice!

In [9]:
theRebels.State

0      Multinational: Democratic Republic of the Cong...
1      Multinational: Algeria Bangladesh Burkina Faso...
2      Multinational: Afghanistan Algeria Bangladesh ...
3      Multinational: Afghanistan Iran Pakistan Syria...
4      Multinational: Indonesia Malaysia Philippines ...
                             ...
180                                       United Kingdom
181                                       United Kingdom
182                                       United Kingdom
183                                                Yemen
184                                                Yemen
Name: State, Length: 185, dtype: object

That gave me an idea:

In [10]:
theRebels=theRebels.assign(Multinational=\
                          theRebels.State.str.contains('Multinational:',
                                                       case=False,
                                                       regex=False))

theRebels.State=theRebels.State.str.replace(pat='Multinational:',
                                            repl="",
                                            case=False,
                                            regex=False)
theRebels.head(3)

,State,Rebelgroup,Affiliates,Conflict,YearEstablished,Leader,Multinational
0,Democratic Republic of the Congo Uganda,Allied Democratic Forces (ADF),None,Allied Democratic Forces insurgency Kivu confl...,1996,Musa Baluku,True
1,Algeria Bangladesh Burkina Faso Chad Egypt In...,Al-Qaeda,Abdullah Azzam Brigades Aden-Abyan Islamic Arm...,Afghanistan conflict Al-Qaeda insurgency in Ye...,1988,Ayman al-Zawahiri,True
2,Afghanistan Algeria Bangladesh Burkina Faso C...,Islamic State of Iraq and the Levant,Abu Sayyaf (ASG) Al-Khansaa Brigade Algeria Pr...,Islamic State–Taliban conflict Yemeni Civil Wa...,1999,Abu Ibrahim al-Hashimi al-Qurashi,True

Let's check state again, this time as a list. This is nicer:

In [11]:
theRebels.State.to_list()

['\xa0Democratic Republic of the Congo\xa0Uganda',
 '\xa0Algeria\xa0Bangladesh\xa0Burkina Faso\xa0Chad\xa0Egypt\xa0Indonesia\xa0Iraq\xa0Israel\xa0Ivory Coast\xa0Kenya\xa0Libya\xa0Mali\xa0Niger\xa0Nigeria\xa0Pakistan\xa0Russia\xa0Somalia\xa0Syria\xa0Tunisia\xa0Yemen',
 '\xa0Afghanistan\xa0Algeria\xa0Bangladesh\xa0Burkina Faso\xa0Cameroon\xa0Chad\xa0Democratic Republic of the Congo\xa0Egypt\xa0Indonesia\xa0India\xa0Iraq\xa0Iran\xa0Ivory Coast\xa0Libya\xa0Mozambique\xa0Mali\xa0Niger\xa0Nigeria\xa0Pakistan\xa0Philippines\xa0Russia\xa0Saudi Arabia\xa0Somalia\xa0Syria\xa0Thailand\xa0Tunisia\xa0Turkey\xa0Yemen',
 '\xa0Afghanistan\xa0Iran\xa0Pakistan\xa0Syria\xa0Tajikistan',
 '\xa0Indonesia\xa0Malaysia\xa0Philippines\xa0Singapore\xa0Thailand',
 '\xa0Iraq\xa0Iran\xa0Syria\xa0Turkey',
 '\xa0Central African Republic\xa0Democratic Republic of the Congo\xa0South Sudan\xa0Uganda',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Angola',
 'Burkina Faso',
 'Cameroon',
 'Central African Republic',
 'Central African Republic',
 'Chile',
 'Chile',
 'China',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Ethiopia',
 'Ethiopia',
 'France',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Ireland',
 'Ireland',
 'Italy',
 'Libya',
 'Libya',
 'Libya',
 'Libya',
 'Libya',
 'Libya',
 'Mali',
 'Mali',
 'Mexico',
 'Mexico',
 'Mozambique',
 'Myanmar',
 'Myanmar',
 'Myanmar',
 'Myanmar',
 'Myanmar',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Palestine',
 'Palestine',
 'Palestine',
 'Palestine',
 'Paraguay',
 'Paraguay',
 'Paraguay',
 'Peru',
 'Philippines',
 'Philippines',
 'Philippines',
 'Senegal',
 'South Sudan',
 'South Sudan',
 'South Sudan',
 'South Sudan',
 'Sudan',
 'Sudan',
 'Sudan',
 'Sudan',
 'Sudan',
 'Sudan',
 'Sudan',
 'Sudan',
 'Syria',
 'Syria',
 'Syria',
 'Syria',
 'Thailand',
 'Thailand',
 'Thailand',
 'Thailand',
 'Thailand',
 'Tunisia',
 'Tunisia',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Uganda',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'Yemen',
 'Yemen']

In [12]:
theRebels.State=theRebels.State.str.replace('\xa0',",",regex=False)
theRebels.State

0               ,Democratic Republic of the Congo,Uganda
1      ,Algeria,Bangladesh,Burkina Faso,Chad,Egypt,In...
2      ,Afghanistan,Algeria,Bangladesh,Burkina Faso,C...
3            ,Afghanistan,Iran,Pakistan,Syria,Tajikistan
4      ,Indonesia,Malaysia,Philippines,Singapore,Thai...
                             ...
180                                       United Kingdom
181                                       United Kingdom
182                                       United Kingdom
183                                                Yemen
184                                                Yemen
Name: State, Length: 185, dtype: object

In [13]:
theRebels.State=theRebels.State.str.replace('^\,',"",regex=True)
theRebels.State

0                Democratic Republic of the Congo,Uganda
1      Algeria,Bangladesh,Burkina Faso,Chad,Egypt,Ind...
2      Afghanistan,Algeria,Bangladesh,Burkina Faso,Ca...
3             Afghanistan,Iran,Pakistan,Syria,Tajikistan
4      Indonesia,Malaysia,Philippines,Singapore,Thailand
                             ...
180                                       United Kingdom
181                                       United Kingdom
182                                       United Kingdom
183                                                Yemen
184                                                Yemen
Name: State, Length: 185, dtype: object

The capitalization is an important decision, for that you can use:

* str.lower(): all to lowercase.

* str.upper(): ALL TO UPPERCASE.

* str.title(): First Character Of Each Word To Uppercase. 

* str.capitalize(): First character to uppercase and remaining to lowercase.

**You can only apply this if the cells are strings.**

For example:

In [14]:
theRebels['state']=theRebels.State.str.lower()
theRebels['STATE']=theRebels.State.astype('string').str.upper()#just in case!

In [15]:
theRebels[['State','state','STATE']].head()

,State,state,STATE
0,"Democratic Republic of the Congo,Uganda","democratic republic of the congo,uganda","DEMOCRATIC REPUBLIC OF THE CONGO,UGANDA"
1,"Algeria,Bangladesh,Burkina Faso,Chad,Egypt,Ind...","algeria,bangladesh,burkina faso,chad,egypt,ind...","ALGERIA,BANGLADESH,BURKINA FASO,CHAD,EGYPT,IND..."
2,"Afghanistan,Algeria,Bangladesh,Burkina Faso,Ca...","afghanistan,algeria,bangladesh,burkina faso,ca...","AFGHANISTAN,ALGERIA,BANGLADESH,BURKINA FASO,CA..."
3,"Afghanistan,Iran,Pakistan,Syria,Tajikistan","afghanistan,iran,pakistan,syria,tajikistan","AFGHANISTAN,IRAN,PAKISTAN,SYRIA,TAJIKISTAN"
4,"Indonesia,Malaysia,Philippines,Singapore,Thailand","indonesia,malaysia,philippines,singapore,thailand","INDONESIA,MALAYSIA,PHILIPPINES,SINGAPORE,THAILAND"

We could also have a column where there are no spaces between the country name:

In [16]:
theRebels['StateName']=theRebels.State.str.title().str.replace('\s',"",regex=True)

In [17]:
theRebels['StateName']

0                    DemocraticRepublicOfTheCongo,Uganda
1      Algeria,Bangladesh,BurkinaFaso,Chad,Egypt,Indo...
2      Afghanistan,Algeria,Bangladesh,BurkinaFaso,Cam...
3             Afghanistan,Iran,Pakistan,Syria,Tajikistan
4      Indonesia,Malaysia,Philippines,Singapore,Thailand
                             ...
180                                        UnitedKingdom
181                                        UnitedKingdom
182                                        UnitedKingdom
183                                                Yemen
184                                                Yemen
Name: StateName, Length: 185, dtype: object

Let's save what we have:

In [ ]:
import os

where=os.path.join('DataFiles','rebelData.csv')
theRebels.to_csv(where,index=False)

### Exercise

Creat a column **statesCount**, that for each row, tells you the amount of states.